<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/JAVACORED8_BAITAP/src/bai05/Bai05_01ver2.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="bai05.Bai05_01ver2"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="JAVACORED8_BAITAP"/>
</launchConfiguration>
